{% extends "_base/_page-nav.twig" %}

{% import "@CloudflareBackend/macros.twig" as macros %}

{% block page_nav 'Extensions' %}

{% block page_title %}
{{ __('Cloudflare') }}
{% endblock page_title %}

{% block page_subtitle %}
Analytics
{% endblock page_subtitle %}

{% block page_main %}

    {#
        {{dump(day, week, month)}}
    #}
    <div class="row cloudflare-koolserve-container">
        <div class="col-md-9">
            <h1><small>View performance and security statistics</small></h1>
            <div class="pull-right">
                <span type="button" class="btn btn-default disabled">Refresh</span>
            </div>
        </div>

        <div class="col-md-9">
            <h2>Requests <small>Requests Through CloudFlare</small></h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ day.requests.all }}</h2>
                        <h2 class="stat-week hidden">{{ week.requests.all }}</h2>
                        <h2 class="stat-month ">{{ month.requests.all }}</h2>
                        <h4>Total Requests</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ day.requests.cached }}</h2>
                        <h2 class="stat-week hidden">{{ week.requests.cached }}</h2>
                        <h2 class="stat-month ">{{ month.requests.cached }}</h2>
                        <h4>Cached Requests</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ day.requests.uncached }}</h2>
                        <h2 class="stat-week hidden">{{ week.requests.uncached }}</h2>
                        <h2 class="stat-month ">{{ month.requests.uncached }}</h2>
                        <h4>Uncached Requests</h4>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-md-9">
            <h2>Bandwidth</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ macros.bytesToSize(day.bandwidth.all) }}</h2>
                        <h2 class="stat-week hidden">{{ macros.bytesToSize(week.bandwidth.all) }}</h2>
                        <h2 class="stat-month ">{{ macros.bytesToSize(month.bandwidth.all) }}</h2>
                        <h4>Total Bandwidth</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ macros.bytesToSize(day.bandwidth.cached) }}</h2>
                        <h2 class="stat-week hidden">{{ macros.bytesToSize(week.bandwidth.cached) }}</h2>
                        <h2 class="stat-month ">{{ macros.bytesToSize(month.bandwidth.cached) }}</h2>
                        <h4>Cached Bandwidth</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ macros.bytesToSize(day.bandwidth.uncached) }}</h2>
                        <h2 class="stat-week hidden">{{ macros.bytesToSize(week.bandwidth.uncached) }}</h2>
                        <h2 class="stat-month ">{{ macros.bytesToSize(month.bandwidth.uncached) }}</h2>
                        <h4>Uncached Bandwidth</h4>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-md-9">
            <h2>Other</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat-figure">
                        <h2 class="stat-day hidden">{{ day.uniques.all }}</h2>
                        <h2 class="stat-week hidden">{{ week.uniques.all }}</h2>
                        <h2 class="stat-month ">{{ month.uniques.all }}</h2>
                        <h4>Total Unique Visitors</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_main %}